<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Song Finder - Home</title></head>
<body>
<div th:replace="~{fragments/header :: topHeader}"></div>

<h2>Home</h2>
<p th:text="${isAuthed} ? 'Logged in' : 'Guest mode'"></p>

<h3>Subscribed Artists (dummy)</h3>
<ul>
    <li th:each="a : ${subscribedArtists}">
        <b th:text="${a.artistName}"></b>
        <small th:text="' (' + ${a.lastSyncedAt} + ')'" style="color:gray;"></small>
        <a th:href="@{/artist/{channelId}(channelId=${a.channelId})}" data-protected="true">Detail</a>
    </li>
</ul>

<h3>Subscribed Playlists (dummy)</h3>
<ul>
    <li th:each="p : ${subscribedPlaylists}">
        <b th:text="${p.playlistTitle}"></b>
        <small th:text="' (' + ${p.lastSyncedAt} + ')'" style="color:gray;"></small>
        <a th:href="@{/playlist/{id}(id=${p.playlistId})}" data-protected="true">Detail</a>
    </li>
</ul>

<div th:replace="~{fragments/auth-modal :: authModal}"></div>
<script th:replace="~{fragments/header :: headerScript}"></script>
<script th:replace="~{fragments/auth-modal :: authScript}"></script>
</body>
</html>
