<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Subscribed Artist Management</title></head>
<body>
<div th:replace="~{fragments/header :: topHeader}"></div>

<h2>Subscribed Artist Management (dummy)</h2>

<h3>Artists</h3>
<ul>
    <li th:each="a : ${subscribedArtists}">
        <b th:text="${a.artistName}"></b>
        <a th:href="@{/artist/{channelId}(channelId=${a.channelId})}" data-protected="true">Manage</a>
        <form action="/subscribe/artist/toggle" method="post" data-protected="true" style="display:inline;">
            <input type="hidden" name="channelId" th:value="${a.channelId}">
            <button type="submit">Unsubscribe</button>
        </form>
    </li>
</ul>

<h3>Subscribed Playlists</h3>
<ul>
    <li th:each="p : ${subscribedPlaylists}">
        <b th:text="${p.playlistTitle}"></b>
        <a th:href="@{/playlist/{id}(id=${p.playlistId})}" data-protected="true">View</a>
    </li>
</ul>

<div th:replace="~{fragments/auth-modal :: authModal}"></div>
<script th:replace="~{fragments/header :: headerScript}"></script>
<script th:replace="~{fragments/auth-modal :: authScript}"></script>
</body>
</html>
